{% load bootstrap4 %}
{% load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=0,initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{% static 'turismos/style.css' %}"/>
    <title>Vitoria Turismo</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<div id="interface">
    <div class="menu">
        <input type="checkbox" id="btn-menu" />
        <label for="bt-menu">&#9776</label>
        <ul>
            <li>
                <a href="{% url 'turismos:index'%}">
                    <img src="{% static 'turismos/imagens/logo-peq-vitoria-turismo.png'%}" />
                </a>
            </li>
            <li><a href="{% url 'turismos:sobre'%}">Sobre a empresa</a></li>
            <li><a href="{% url 'turismos:contato'%}">Contato</a></li>
            <li><a href="{% url 'turismos:pacotes'%}">Pacotes</a></li>

        </ul>
    </div>
    </div>
    <div class="conteudo">
        {% block content %} {% endblock content %}
    </div>
    <div class="index">
        {% block index %} {% endblock index %}
    </div>
    
    <div class="rodape">
        <footer>
            <h5>Contato: 3503-1604</h5>
            <a href="https://www.instagram.com/vitoriaturismo_go/" target="_blank">
                <img src="{% static 'turismos/imagens/btn-instagram.png'%}" width="40" height="40" />
            </a>
            <a href="https://www.facebook.com/vitoriaturismoab/" target="_blank">
                <img src="{% static 'turismos/imagens/btn-facebook.png'%}" width="40" height="40" />
            </a>
        </footer>
    </div>



</body>
</html>