{% extends 'turismos/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
   <h1>Vitoria Turismo</h1>

    <form class="form-contato" action="https://formspree.io/leversonpbr@gmail.com" method="POST">
        {% csrf_token %}
        {{ contato_form.as_p}}
        <input type="submit" type="button"  class="btn btn-outline-danger" value="Enviar">

    </form>
 <div class="rodape">
        <footer>
            <h5>Contato: 3503-1604</h5>
                <a href="https://www.instagram.com/vitoriaturismo_go/" target="_blank">
                    <img src="{% static 'turismos/imagens/btn-instagram.png'%}" width="40" height="40"/></a>
                <a href="https://www.facebook.com/vitoriaturismoab/" target="_blank">
                    <img src="{% static 'turismos/imagens/btn-facebook.png'%}" width="40" height="40"/></a>
        </footer>
    </div>
{% endblock content %}