{% extends 'turismos/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}

   <section class="pagina-contato">
       <h3>Contato</h3>
       <p>
           (62) 3503 - 1604<br>
           (62) 9 84224076 
       </p>
       <h4>Email</h4>
       <p>vitoriaturismogo@gmail.com</p>
       
   </section>

    <form class="form-contato" action="https://formspree.io/leversonpbr@gmail.com" method="POST">
        {% csrf_token %}
        {{ contato_form.as_p }}
        <input type="submit" type="button"  class="btn btn-danger" value="Enviar">

    </form>

{% endblock content %}