{% extends 'turismos/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<figure class="figure-index">
    <img src="{% static 'turismos/imagens/background-index.png'%}"/><div class="circulo"></div>
    <figcaption class="figcaption-index">
        <h1>Pacotes turisticos</h1>
        <h2>Terrestres</h2>
        <h3> &nbsp;&nbsp;Em até</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;12x</br>sem juros</h3>
        <div style="background: black"></div>
    </figcaption>
</figure>



{% endblock content %}
