{% extends 'turismos/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block index %}

<section id="paralllax">
    <div id="box-1">
        <h1>Pacotão turistico</h1>
        <p>ao nosso site</p>
    </div>
    <div id="box-2">
        <div class="jumbotron" style="background: rgba(265,0,0,0.5)">
            
                <h1 class="display-4">Fluid jumbotron</h1>
                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            </div>
    </div>
    <div id="box-3"></div>
</section>





{% endblock index %}
