{% extends 'turismos/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
    <div id="pg-sobre">
        <h2>Vitoria Turismo</h2>
        <p>A empresa está em Abadia de Goiás.</p>
    </div>
 <div class="rodape">
        <footer>
            <h5>Contato: 3503-1604</h5>
                <a href="https://www.instagram.com/vitoriaturismo_go/" target="_blank">
                    <img src="{% static 'turismos/imagens/btn-instagram.png'%}" width="80" height="80"/></a>
                <a href="https://www.facebook.com/vitoriaturismoab/" target="_blank">
                    <img src="{% static 'turismos/imagens/btn-facebook.png'%}" width="90" height="80"/></a>
        </footer>
 </div>


{% endblock content %}