@charset'UTF-8';

body {
    background: url('imagens/background-2.jpg')no-repeat;

}

.interface {
    width: 1200px;
    background-color: #ffffff;
    margin: -22px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,.9);
    padding: 10px;

}

.menu {
    position: relative;
    right: 170px;
    width: 1520px;
    height: 70px;
    background: #A2B5CD;
    overflow: hidden;
    border-radius: 10px;

}
.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 60px;
}
.menu li{
    float: left;


}

.menu ul li a{
    text-decoration: none;
    display: block;
    text-align: center;
    color: black;
    padding: 14px 16px;
    font-size: 18px;
    font-family: sans-serif;


}

.menu ul li a:hover{
    border: 10px;
    background-color: ;
    cursor: pointer;
    transform: translateY(-5px);
    -webkit-transition: all 500ms ease;



}

.menu ul li a img{
    width: 90px;
    height: 60px;
}
img#instagram{

    width: 30px;
    height: 25px;
    left: 50px;
}
.cabecalho{
    text-align: center;
    padding: 20px;
}
.rodape{
    background: #8B7B8B;
    height: 210px;
}
.rodape h5{
    color: white;
    padding: 10px;
}

.rodape img{
    width: 80px;
    height: 80px;
    padding: 0px;
    position: relative;
    left: 1400px;
    top: -25px;

}

.rodape img:hover{
    cursor: pointer;
    transform: translateY(-5px);
    -webkit-transition: all 500ms medium;

}
