@charset'UTF-8';

html{
}
body {
    background: white;
}


.figure-index img{
    position: absolute;
    top: 59px;
    right: 0px;
    width: 1537px;
    height: 699px;
}

@font-face{
    font-family: Chunkfive-Roman;
    src: url('fonts/Chunkfive.otf');
}
.figcaption-index h1{
    position: absolute;
    left: 50px;
    top: 100px;
    color: white;
    text-align: center;
    font-family: Chunkfive-Roman;
    font-size: 100px;

}
.figcaption-index h2{
    position: absolute;
    left: 700px;
    top: 200px;
    right: 500px;
    color: orange;
    font-family: Chunkfive-Roman;
    font-size: 70px;
}

.figcaption-index h3{
    position: absolute;
    top: 350px;
    right: 200px;
    color: white;
    font-family: Chunkfive-Roman;
    font-size: 60px;
    text-shadow: 5px 0 rgba(0,0,0,.5), 0 1px rgba(0,0,0,.5), 1px 0 rgba(0,0,0,.5), 0 -1px rgba(0,0,0,.5);
}


.circulo{
    position: relative;
    left: 745px;
    top: 300px;
    width: 350px;
    height: 350px;
    background-color: rgba(255,0,0,0.7);
    border-radius: 300px;


}

.interface {
    width: 1000px;
    background-color: #ffffff;
    margin: -22px auto 0px auto;
    box-shadow: 10px rgba(0,0,0,.5);
    padding: 10px;
}

.menu {
    position: absolute;
    right: 0px;
    width: 1536px;
    height: 70px;
    background: #E8E8E8;
    overflow: hidden;
    border-bottom: 2px solid #EEE9E9;
    

}
.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 60px;

}
.menu li{
    float: left;
}

.menu ul li a{
    position: relative;
    top: -5px;
    left: 900px;
    text-decoration: none;
    display: block;
    text-align: center;
    color: black;
    padding: 14px 16px;
    font-size: 18px;
}

.menu ul li a:hover{
    cursor: pointer;
    transform: translateY(-5px);
    -webkit-transition: all 500ms ease;
}

.menu img{
    position: relative;
    right: 750px;
    top: -5px;
    width: 90px;
    height: 70px;
}
.card-group{
    position: relative;
    top: 200px;

}
.rodape {
    position: absolute;
    background: #E6E6FA;
    right: 0px;
    width: 1536px;
    height: 60px;
    bottom: 0px;
}
.rodape h5{
    position: absolute;
    left: 200px;
    text-align: center;
    font-size: 15pt;
    color: black;
    padding: 10px;
}

.rodape img{
    
    position: relative;
    left: 1300px;
    bottom: -10px;


}


.rodape img:hover{
    cursor: pointer;
    transform: translateY(-5px);
    -webkit-transition: all 500ms medium;

}

.form-contato {
    background: #CDC9C9 no-repeat;
    border: 10px solid #8B8989;
    position: relative;
    left: 800px;
    width: 400px;
    height: 600px;
    padding: 10px;
    font-family: Arial, sans-serif;
}   


